# Text Classification with Naive Bayes

[Nepali IMBD](https://github.com/NISH1001/nepalimdb).

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1. Loading Data and Preprocessing

In [2]:
df = pd.read_json('../data/nepali-movies.json')

In [3]:
df.head()

,genre,imdb_url,plot,rating,runtime,title,votes,year
0,"Drama, Romance",https://www.imdb.com/title/tt6944688/?ref_=adv...,"A Man stalks a girl, after while they fall in ...",8.2,138 min,A Mero Hajur 2,164.0,2017
1,"Comedy, Drama",https://www.imdb.com/title/tt7229666/?ref_=adv...,Chhakka Panja 2 continues with new story of Ra...,6.8,138 min,Chhakka Panja 2,190.0,2017
2,Comedy,https://www.imdb.com/title/tt8393764/?ref_=adv...,When she learns about the worst condition of t...,6.2,None,Chhakka Panja 3,52.0,2018
3,"Comedy, Drama",https://www.imdb.com/title/tt6580708/?ref_=adv...,"Dhanapati,a poor man suffering from high pover...",8.4,None,Dhanapati,46.0,2017
4,"Drama, Romance",https://www.imdb.com/title/tt8475990/?ref_=adv...,An romantic relationship between a celebrity a...,NaN,None,A Mero Hajur 3,NaN,2019

In [5]:
df.shape

(723, 8)

In [10]:
# Only keep rows where both "genre" and "plot" aren't null
df = df[(~df['genre'].isnull()) & (~df['plot'].isnull())]

In [11]:
df.shape

(644, 8)

We have multiple labels for each movie genre. So, it can actually be formulated as a multi-label classification. For now, we only consider whether a movie is `Romance` or not.

In [22]:
df['Romance'] = df['genre'].map(lambda x: 'Romance' in [genre.strip() for genre in x.split(',')])

In [23]:
df['Romance'].value_counts()

False    537
True     107
Name: Romance, dtype: int64

### Exercise 1

Map `Romance` into new `Target` column. `True` becomes `1` and `False` becomes `0`.

In [ ]:
# Code Here

### Exercise 2

Split df into training (80%) and test set (20%). Use the `stratify` option as well.

In [ ]:
# Code Here

## 2. Extracting features from text

We'll use [tf-idf](https://en.wikipedia.org/wiki/Tf%E2%80%93idf) to transform text data into vectors.

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorizer = TfidfVectorizer(stopword="english")

### Exercise 3

`fit_transform` the training descriptions.

In [27]:
# Code Here

## 3. Training a classifier

In [28]:
from sklearn.naive_bayes import MultinomialNB

### Exercise 4

Create a classifier and train it.

In [29]:
# Code Here

## 4. Testing the classifier

### Exercise 5

Evaluate performance on test set. Use the same `vectorizer` to vectorize the text.

Apart from accuracy, also find `precision` and `recall` and determine the confusion matrix.

In [ ]:
# Code Here

### Exercise 6

Use the classifier to make predictions on a a given text.

In [ ]:
# Code Here